header{
    //border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    ul{
        display: flex;
        list-style: none;
        //border: solid;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}